*
!*/
!*.cs
!.gitignore
!LICENSE
!*.json
!*.csproj
!*.xaml
!*.md
!*.props
!*.targets
!*.yml
!app.manifest
!WC4MapEditor.Cli/
!WC4MapEditor.Cli/**
!WC4MapEditor.Core/
!WC4MapEditor.Core/**
!WC4MapEditor.Rendering/
!WC4MapEditor.Rendering/**
!WC4MapEditor.Scripting/
!WC4MapEditor.Scripting/**
**/bin/
**/obj/
**/Lib/
/tmp/
